*{
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container  {
    position: relative;
    width: 95%;
    max-width: 1000px;
}

.content {
        Position: relative;
        border: 1px solid black;
        background-color: lightgray;
        color: black;
        margin: 10px;
        padding: .5em;
        width: calc(100%/3);
        }

/*---------ID & class-----------*/
#chicken {
    position: absolute;
    top: 0;
    right: 0;
    border:1px solid black;
    background-color: salmon;
    text-align: center;
    width: 33%;
}

#beef {
    position: absolute;
    top: 0;
    right: 0;
    border:1px solid black;
    background-color: red;
    color: white;
    text-align: center;
    width: 33%;
}

#sushi {
    position: absolute;
    top: 0;
    right: 0;
    border:1px solid black;
    background-color: rgb(168, 168, 3);
    text-align: center;
    width: 33%;
}
/*--------media Queries---------*/

/*--------------PC-------------*/
@media (min-width: 992px) {
    .col-lg-3 {
        float: left;
        width: 30%;
    }
}
     /*--------------Table-------------*/
     @media (min-width: 768px) and (max-width: 991px){
    .col-md-3 {
        float: left;
        width: 47%;
    }
    .col-md-12 {
        float: left;
        width: calc(100%/1);
    }
}

 /*--------------Mobile-------------*/
 @media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: calc(100%/1);

    }
}
